.cs-video-call-incoming-call-container:not(.cs-video-call-swapped) #cs-video-call-remote-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.cs-video-call-incoming-call-container.cs-video-call-swapped #cs-video-call-remote-video {
    position: absolute;
    z-index: 3;
    top: 12%;
    right: 2%;
    width: 25%;
    height: 22.6%;
    border-radius: 5%;
}

.cs-video-call-incoming-call-container:not(.cs-video-call-swapped) #cs-video-call-self-video-container {
    position: absolute;
    z-index: 3;
    top: 12%;
    right: 3%;
    width: 25%;
}

.cs-video-call-incoming-call-container.cs-video-call-swapped #cs-video-call-self-video-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cs-video-call-incoming-call-container:not(.cs-video-call-swapped) #cs-video-call-self-video {
    opacity: 0.85;
}

.cs-video-call-incoming-call-container #cs-video-call-self-video {
    width: 100%;
    height: 100%;
    zoom: 0.3;
    border-radius: 5%;
    float: right;
    background: #2b2b2b;
}

.cs-video-call-incoming-call-container [data-action="cs-video-call-swap-camera"] button {
    background: #009657;
    fill: #e6e6e6;
}

.cs-video-call-incoming-call-container [data-action="cs-video-call-swap-filter"] button {
    background: #a00070;
    fill: #e6e6e6;
}

.cs-video-call-incoming-call-container [data-action="cs-video-call-swap-elements"] button {
    background: #a05b00;
    fill: #e6e6e6;
}

.cs-video-call-incoming-call-container [data-action="cs-video-call-swap-transmission"] {
    background: #a90000;
    fill: #e6e6e6;
}

.cs-video-call-incoming-call-container .cs-video-call-buttons-container {
    text-align: center;
}

.cs-video-call-incoming-call-container.cs-video-call-swapped .cs-video-call-buttons-container {
    position: absolute;
    bottom: 3.5%;
    width: 100%;
    text-align: center;
}

.cs-video-call-incoming-call-container .cs-video-call-buttons-container button svg {
    scale: 0.75;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: relative;
    bottom: 0.1vw;
}

.cs-video-call-incoming-call-container .cs-video-call-buttons-container button {
    display: inline-block;
    width: 85%;
    height: 85%;
    text-align: center;
    border: 0;
    padding: 0 7.5%;
    margin-top: 25%;
    padding-bottom: 5%;
}

.cs-video-call-incoming-call-container .cs-video-call-buttons-container button:focus {
    outline: none;
}

.cs-video-call-incoming-call-container .cs-video-call-buttons-container button:last-child {
    margin-right: 0;
}

[data-action="cs-video-call-swap-transmission"] {
    position: absolute !important;
    bottom: 8.5vh;
    left: 25%;
    height: 4vh;
    color: rgb(255, 255, 255, 0.8);
    background-color: rgba(231, 76, 60);
    font-size: 1.5vh;
    margin: 0px auto;
    padding: 0.65vh 1.25vh;
    border-radius: 50%;
    transition: background-color 0.1s ease-in-out 0s;
    animation: 2s ease 0s infinite normal none running pulse;
}

.cs-video-call-incoming-call-container .phone-call-ongoing-caller, .cs-video-call-incoming-call-container .phone-call-ongoing-title, .cs-video-call-incoming-call-container .phone-call-ongoing-picture, .cs-video-call-incoming-call-container .phone-call-ongoing-time {
    transition: all 1s ease;
    left: 0;
    pointer-events: none;
}

.cs-video-call-incoming-call-container .phone-call-ongoing-caller, .cs-video-call-incoming-call-container .phone-call-ongoing-title, .cs-video-call-incoming-call-container .phone-call-ongoing-time {
    width: 100%;
}

.cs-video-call-incoming-call-container.cs-video-call-video-active:not(.cs-video-call-swapped) .phone-call-ongoing-caller, .cs-video-call-incoming-call-container.cs-video-call-video-active:not(.cs-video-call-swapped) .phone-call-ongoing-title, .cs-video-call-incoming-call-container.cs-video-call-video-active:not(.cs-video-call-swapped) .phone-call-ongoing-time {
    width: 68%;
}

.cs-video-call-incoming-call-container.cs-video-call-remote-video-active.cs-video-call-swapped .phone-call-ongoing-caller, .cs-video-call-incoming-call-container.cs-video-call-remote-video-active.cs-video-call-swapped .phone-call-ongoing-title, .cs-video-call-incoming-call-container.cs-video-call-remote-video-active.cs-video-call-swapped .phone-call-ongoing-time {
    width: 68%;
}

.cs-video-call-incoming-call-container .phone-call-ongoing-picture {
    margin-right: 29.3%;
}

.cs-video-call-incoming-call-container.cs-video-call-video-active .phone-call-ongoing-picture {
    margin-right: 45%;
}

.cs-video-call-incoming-call-container.cs-video-call-remote-video-active .phone-call-ongoing-picture {
    display: none;
}

.cs-video-call-incoming-call-container.cs-video-call-remote-video-active .phone-call-ongoing-title {
    top: 9%;
}

.cs-video-call-incoming-call-container.cs-video-call-remote-video-active .phone-call-ongoing-caller {
    top: 10%;
}

.cs-video-call-incoming-call-container.cs-video-call-remote-video-active .phone-call-ongoing-time {
    top: 11%;
}

.cs-video-call-incoming-call-container [data-cs-video-call-key-label] {
    display: inline-block;
    position: relative;
}

.cs-video-call-incoming-call-container [data-action="cs-video-call-swap-filter"], .cs-video-call-incoming-call-container [data-action="cs-video-call-swap-camera"], .cs-video-call-incoming-call-container [data-action="cs-video-call-swap-elements"] {
    width: 27%;
    margin-top: 1%;
}

.cs-video-call-incoming-call-container.cs-video-call-swapped [data-action="cs-video-call-swap-filter"], .cs-video-call-incoming-call-container.cs-video-call-swapped [data-action="cs-video-call-swap-camera"], .cs-video-call-incoming-call-container.cs-video-call-swapped [data-action="cs-video-call-swap-elements"] {
    width: 10%;
}

.cs-video-call-incoming-call-container [data-action="cs-video-call-swap-filter"] .cs-video-call-key-label, .cs-video-call-incoming-call-container [data-action="cs-video-call-swap-camera"] .cs-video-call-key-label, .cs-video-call-incoming-call-container [data-action="cs-video-call-swap-elements"] .cs-video-call-key-label {
    bottom: 0.4vh;
}

.cs-video-call-incoming-call-container .cs-video-call-key-label {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 0.25vh 0.5vh;
    border-radius: 0.5vh;
    font-size: 65%;
    position: relative;
    left: 0;
    display: block !important;
    width: fit-content;
    margin: 0 auto;
    pointer-events: all;
}

body #ongoing-cancel {
    left: 55%;
}
